/* Reset Css Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
/* Reset Css End */

/* root start */
:root {
    --main-color: rgb(28, 66, 79);
    --main-light-color: rgb(28, 66, 79, 0.2);
    --second-color: rgb(238, 96, 95);
    --second-light-color: rgb(238, 96, 95, 0.2);
}
/* root end */

/*scroll start*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border: 1px solid var(--main-light-color);
    box-shadow: inset 0 0 5px #ccc;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background: rgba(28, 66, 79, 0.5);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}
/*scroll end*/

/* general start */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    background-color: var(--main-light-color);
}
main {
    background-color: white;
    width: 80%;
    padding: 10px 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
@keyframes opacity {
    from {
        opacity: 0%
    }

    to {
        opacity: 100%
    }
}
@keyframes gelatine {
    0%, 100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}
@keyframes wheel {
    33% {
        transform: rotate(-15deg) scale(1.025);
    }

    99% {
        transform: rotate(375deg) scale(1.025);
    }
}
/* general end */

/* datatable start */
th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
th:first-child {
    border-left: 1px solid #dddddd;
}
th div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
}
.dataTables_length {
    margin-bottom: 10px;
}
.paginate_button {
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    border: 1px solid var(--main-color) !important;
    background-color: var(--main-light-color) !important;
    color: white !important;
    transition: all 200ms ease-in-out;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: var(--main-color) !important;
    border: 1px solid var(--main-color) !important;
    color: white !important;

}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: var(--main-color) !important;
    border: 1px solid var(--main-color) !important;
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    background-color: transparent !important;
}
.stripe1 {
    background-color: rgba(237, 237, 237, 0.37);
}
.stripe2 {
    background-color: rgb(255, 255, 255);
}
.cell {
    box-sizing: border-box;
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.dt-scroll-body thead tr {
    visibility: collapse !important;
}
/* datatable end */

/* custom table start */
.accept-button {
    cursor: pointer;
    padding: 8px 16px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    box-shadow: 0 0 5px 2px var(--main-light-color);
    background-color: var(--main-light-color);
    font-size: 14px;
    font-weight: 600;
}
.accept-button:hover {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}
/* custom table end */

/*mobile start*/
@media screen and (max-width: 1200px) {
    main {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .cth {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .mobile-invis {
        display: none;
    }
}
/*mobile end*/